# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Build output
build/
cmake-build-*/
sdkconfig.old

# IDEs
.vscode/
.idea/
*.code-workspace

# Sistema operativo
.DS_Store
Thumbs.db

# Logs y temporales
*.log
*.tmp